<div class="main_nav Sticky">
	<div class="container">
		<div class="row small-gutters">
			<div class="col-xl-3 col-lg-3 col-md-3">
				<nav class="categories">
					<ul class="clearfix">
						<li><span>
								<a href="#">
									<span class="hamburger hamburger--spin">
										<span class="hamburger-box">
											<span class="hamburger-inner"></span>
										</span>
									</span>
									Categories
								</a>
							</span>
							<div id="menu">
								<ul>
									{% for categorie in categories %}
									<li><span><a href="/product/category/{{ categorie.id }}">{{ categorie.name}}</a></span>
										{% set level2 = categorie.level2 %}
										{% if level2 is not empty %}
										<ul>
											{% for lv2 in level2 %}
												<li><a href="/product/category/{{ lv2.id }}">{{ lv2.name}}</a></li>
											{% endfor %}
											</ul>
										{% endif %}
									</li>
									{% endfor %}
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-xl-6 col-lg-7 col-md-6 d-none d-md-block">
			</div>
			<div class="col-xl-3 col-lg-2 col-md-3">
				<ul class="top_tools">
					<li>
						<div class="dropdown dropdown-cart">
							<a href="cart.html" class="cart_bt"><strong id ="cart_no">0</strong></a>
							<div class="dropdown-menu cart-menu">
								<ul class="ul-cart-item-menu">
								</ul>
							</div>
						</div>
						<!-- /dropdown-cart-->
					</li>
					<li>
					</li>
					<li>
						<div class="dropdown dropdown-access">
							<a href="account.html" class="access_link"><span>Account</span></a>
							<div class="dropdown-menu">
								{% if logged_in %}
								<ul>
									<li>
										<a href="/user"><i class="ti-user"></i>My Profile</a>
									</li>
									<li>
										<a href="/user/{{ uid }}/edit"><i class="ti-pencil-alt"></i>Change Profile</a>
									</li>
									<li>
										<a href="/user/logout"><i class="ti-share"></i>LogOut</a>
									</li>
								</ul>
								{% else %}
								<a href="/user/login" class="btn_1">Login</a>
								<a href="/user/register" class="btn_1">Register</a>
								{% endif %}
							</div>
						</div>
						<!-- /dropdown-access-->
					</li>
					<li>
						<a href="#menu" class="btn_cat_mob">
							<div class="hamburger hamburger--spin" id="hamburger">
								<div class="hamburger-box">
									<div class="hamburger-inner"></div>
								</div>
							</div>
							Categories
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /search_mobile -->
</div>